@model ErrorViewModel

@{
    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page  rtl-direction">
    <div class="page-header text-center">
        <h1>خطا</h1>
    </div>

    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="alert alert-danger ">
                خطایی رخ داده است. شما به این صفحه مجوز دسترسی ندارید.
            </div>


        </div>
        <div class="col-sm-3"></div>

    </div>
</div>
